.setting {
  top: 135px;
  box-sizing: border-box;
  background-color: #e1dcc5;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  height: 85vh;
  display: grid;
  /* Chia thành 20 ô hàng ngang mỗi ô độ dài 77px !không liên quan đến heigh */
  grid-template-rows: repeat(20, 77px);
  /* Chia thành 10 ô hàng dọc mỗi ô độ rồngj 5fr !không liên quan đến width */
  grid-template-columns: repeat(10, 5fr);
  overflow-y: auto;
}
.setting .content {
  height: 1450px;
  width: 80vw;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #babbae;
  grid-column: 4/7;
  grid-row: 1/18;
}
/* .setting .content .slider-wrapper{
    
} */
.setting .footer {
  grid-row: 18/20;
}
.slick-prev {
  left: -25px !important;
  z-index: 1000 !important;
  height: 25px !important;
  width: 25px !important;
  background: #add8e6 !important;
  border: 2px solid #d7d7d7 !important;
}

.slick-prev:hover {
  background: #0000ff !important;
  opacity: 1 !important;
}

.slick-next {
  right: -25px !important;
  z-index: 1000 !important;
  height: 25px !important;
  width: 25px !important;
  background: #add8e6 !important;
  border: 2px solid #d7d7d7 !important;
}

.slick-next:hover {
  background: #0000ff !important;
  opacity: 1 !important;
}
.slick-prev ::before,
.slick-next ::before {
  font-family: FontAwesome !important;
  color: hsl(202, 96%, 37%) !important;
}
/* .setting .content .slider-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 5r);
    grid-template-columns: repeat(10, 5r);
} */
.content {
  height: 90vw;
  background: #f5f5f5;
  border: 1px solid #e1dcc5;
}
.content .slider-wrapper-1 {
  margin: 0 40px;
}
.content .slider-wrapper-2 {
  background: #e1dcc5;
  margin: 0 40px;
}
.content img {
  height: 150px; /* Chỉnh chiều cao của sách */
  width: 120px; /* Chỉnh chiều ngang của sách */
}
.content .img-customize {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}
.content h3 {
  margin-top: 25px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.setting .content button.button_text {
  margin-top: 25px;
  display: block;
  width: 70%;
  height: 100%;
  background-color: #0376b8;
  font-size: 15px;
  color: aliceblue;
  border: 1px solid #babbae;
  padding: 4px 4px;
  border-radius: 5px;
  font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}
.setting .content button.button_text:hover {
  background-color: #003266;
}
.content h2 {
  background: white;
  font-size: 1.2em;
  font-weight: 400;
  color: #02598b;
  margin-bottom: 0.5em;
  margin-top: 25px;
  border-bottom: 1px solid black;
}
