.corner-component {
  position: fixed;
  right: 0;
  /* z-index: 100; */
  /* padding: 10px; */
  height: 615px;
  width: 25vw;
  /* Tạo ra thanh cuộn khi không xem hết được nội dung toàn màn hình */
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #e1dcc5;
  border: 1px solid white;
}

.corner-component ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.corner-component li.title {
  font-weight: 700;
  border-bottom: 2px solid hsl(32.7, 14.7%, 70.6%);
  padding: 16px 16px 3px;
  font-size: 20px;
}
.corner-component li.contentt {
  border-bottom: 1px solid #9e9e9e;
  height: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.corner-component .size_image {
  height: 20% !important;
  width: 100% !important;
}
.nonedecc {
  color: black;
  text-decoration: none;
}
.corner-component li.contentt:hover {
  background-color: aliceblue;
}
