.Book_setting {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    width:100%;
  }
div.Content_book {
    width:100%;
     height:auto; 
    background-color: aquamarine;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* Chỉnh các phần tử con trong Content book ra giữa theo cột */
    align-items :center; 
 
  }
div.MidBook p{
    word-wrap: break-word;
    font-size: 500px;
}
div.MidBook {
  
    background-color: aliceblue !important;
    width:80%;
}
.BottomBook {
    /* margin-left: 180px; */
    background-color: aliceblue !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid grey;
    width:600px;
    height:30px;

}
.Previous {
    display: inline-block;
    width:200px ;
    height:30px;
    border-radius: 5px 0 0 5px !important;
    /* background-color: black; */
    /* Chỉnh nội dung chính nó ra giữa theo cột */
    text-align: center;
}
.HomeBook{
    display: inline-block;
    width:200px ;
    height:30px;
    /* background-color: black; */
    text-align: center;
  
}
.Next{
    display: inline-block;
    width:200px ;
    height:30px;
    border-radius: 0 5px 5px 0 !important;
    /* background-color: black; */
    text-align: center;

}
.Previous svg{
    margin-top: 7px;
    color:black;
}
.HomeBook svg{
    margin-top: 7px;
    color:    black;
;
}
.Next svg{
    margin-top: 7px;
    color:black;
}
.Previous:hover {
    background-color: grey;
}
.HomeBook:hover{
    background-color: grey;
}
.Next:hover{
    background-color: grey;
}
.Previous:hover svg{
  
    color:aliceblue;
}
.HomeBook:hover svg{
    color:aliceblue;

}
.Next:hover svg{
    color:aliceblue;
}
.Book_footer {
    background-color: #e1dcc5;
}
