.Book_infor_setting {
    top: 135px;
    box-sizing: border-box;
    background-color: #e1dcc5;
    position: fixed;
    padding: 0;
    margin: 0;
    /* width: 1050px; */
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    height: 500px;
    display: grid;
    /* Chia thành 20 ô hàng ngang mỗi ô độ dài 77px !không liên quan đến heigh */
    grid-template-rows: repeat(20, 77px);
    /* Chia thành 10 ô hàng dọc mỗi ô độ rồngj 5fr !không liên quan đến width */
    grid-template-columns: repeat(10, 5fr);
    overflow: scroll !important;
  }
  .Book_infor_setting .Book_infor_content {
    height: 1450px;
    width: 1000px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #babbae;
    grid-column: 5/7;
    grid-row: 1/18;
  }
  /* Part 2 chia lô nền */
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting{
    display: grid;
    grid-template-columns: repeat(100, 10px);
    grid-template-rows: repeat(140, 10px);
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1{
    grid-column: 4/30;
    grid-row: 3/55;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    position:relative;
    margin:0; 
    padding:0;
    border:1px solid #babbae;
    border-radius: 2px;
  }
  /* Kích thước mặc định 179px X 300px; */
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 img.p1{
    /* position: absolute; */
    margin:20px 40px 20px 40px;
    width:179px;
    height: 250px;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 img.p2{
    height: 30px;
    width: 30px;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 img.p1:hover {
    transform: rotateY(45deg);
    transition: transform 0.5s ease-in-out;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 img.p2:hover{
    background-color:#babbae;
    border-radius: 3px;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 button{
    /* position: absolute; */
    /* top:320px;  */
    padding:0; 
    margin:0px 30px 15px 30px;
    width:199px;
    height: 30px;
    color: #fff; /* Xóa  */
    border: 2px solid #208731;
    border-radius: 3px;
    background: rgb(0, 255, 0);
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 button a{
    text-decoration: none;
    color: #fff;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_1 button:hover{
    background: #208731;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_2{
    grid-column: 33/99;
    grid-row: 3/42;
    border: 2px solid blue;
    overflow: auto
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_2_2{
    grid-column: 33/99;
    grid-row: 43/55;
    border: 2px solid blue;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_4{
    grid-column:4/97;
    grid-row:57/80;
    border:1px solid #babbae;
    border-radius: 2px; 
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3{
    grid-column: 4/97;
    grid-row: 90/121;
    margin:0; 
    padding:0;
    border:1px solid #babbae;
    border-radius: 2px; 
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3 div.set{
    display: flex !important; 
  flex-direction: column !important; 
  justify-content: center !important; 
  align-items: center !important; 
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3 h3{
    font-family: "Arial", sans-serif;
    font-weight: 500px;
    font-size: 25px;
    margin:10px 0 10px 20px;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3 img.p4{
    height: 200px;
    width: 150px;
    /* margin: auto; */
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3 button{
    /* align-self: "center"  */
    margin-top:10px;
    color:white;
    border-radius: 3px;
    border:2px solid #babbae;
    background: rgb(0, 255, 0);
    width:110px;
    height:30px;
  }
  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_3 button:hover{
    background: #208731;
  }

  .Book_infor_setting .Book_infor_content .Book_infor_content_setting .Book_content_5{
    grid-column:4/97;
    grid-row:123/145;
    border: 2px solid rgb(255, 0, 60);
  }


  .Book_infor_setting .Book_infor_footer{

  }
